---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="underscored" />
		<meta name="description" content="C++/TypeScript Developer, GD player/modder/creator, TETR.IO player" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://underscored.me/" />
		<meta property="og:title" content="underscored" />
		<meta property="og:description" content="C++/TypeScript Developer, GD player/modder/creator, TETR.IO player" />
		<meta property="og:image" content="/logo.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://underscored.me/" />
		<meta property="twitter:title" content="underscored" />
		<meta property="twitter:description" content="C++/TypeScript Developer, GD player/modder/creator, TETR.IO player" />
		<meta property="twitter:image" content="/logo.png" />

		<!-- made with https://metatags.io bc im lazy -->
		 
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
	}

	:root {
		--accent: 49, 10, 101;
		--accent-light: 19, 41, 159;
		--accent-dark: 11, 15, 36;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;

		width: 100vw;
		height: 100vh;
	}
	body {
		width: 100%;
		height: 100%;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
